<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Primeiro Número"  type="number" placeholder="Insira um número" [(ngModel)]="primeiroNumero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Segundo Número" type="number" placeholder="Insira um número" [(ngModel)]="segundoNumero"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select label="Operação" value="Adição" placeholder="Selecione a operação" [(ngModel)]="operacao">
        <ion-select-option value="0">Adição</ion-select-option>
        <ion-select-option value="1">Subtração</ion-select-option>
        <ion-select-option value="2">Multiplicação</ion-select-option>
        <ion-select-option value="3">Divisão</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="calcular()">Calcular</ion-button>
  </ion-list>

</ion-content>
